.header {
  display: flex;
  align-items: center;
  background-color: black;
  margin: auto auto;
  width: 100%;
  text-align: center;
  justify-content: center;
  
  
}

.header a {
  display: flex;
  align-items:center;
  text-decoration: none;
  color: black;
  border-right: 1.5px  solid #d3b1a78f;
  border-radius: 1px;
  padding: 0px 25px 0px 0px;
  margin: 0px 0px 0px 0px;
  
}

.header h1{
  color: #d3b1a7c8;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 45px;
  display: flex;
  text-align:center;
}

.header .logo {
  max-height: 100px;
}

.header .title-group {
  padding-left: 25px;
  display: flex;
  align-items: center;

}

*{
 box-sizing: border-box;
}
