.header {
  display: flex;
  align-items: center;
  background-color: black;
  width: 100%;
  text-align: center;
}

.img {
  margin-left: 0px;
}

.header h1{
  color: #d3b1a7c8;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 45px;
  display: flex;
  text-align:center;
}

.header .logo {
  max-height: 100%;
  width: 20%;

}

.header .title-group {
  padding-left: 25px;
  width: 80%;
  text-align: center;

}

*{
 box-sizing: border-box;
}
