<mat-toolbar class="footer">
  <span>
    <h2>Entre em Contato!!!</h2>
    <address>
        <img src="assets/email.svg" width="25" height="25" />
        <p>annebarros00@gmail.com </p>
    </address>

    <div class="links">
      <a href="www.linkedin.com/in/anelise-barros">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" width="40" height="40" />
      </a>
      <a href="https://github.com/Anelise-Barros" class="git">
        <img src="assets/github.png" width="40" height="40" />
      </a>
      <a href="mailto:annebarros00@gmail.com" class="mail">
        <img src="assets/gmail.svg" width="40" height="40" />
      </a>
  </div>
  </span>
</mat-toolbar>

