
.footer {
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d3b1a7c8;
  background-color: black;
  padding: 10px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  > span {
    font-size: 1.1rem;
    font-weight: 300;
  }
}

h2, address, p, .links{
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 5px;
}

.git {
  padding-left: 10px;
}

.mail {
  padding-left: 10px;
}

