.imagem{
  width: 350px;
  box-shadow: 10px 5px 5px #d3b1a7;
  border-radius: 10px;
}


.apresentacao{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 35px;
  padding-bottom: 20px;
  padding-left: 160px;
  padding-right: 160px;
}

.ordem{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
}
  


.name{
  width: 25vw;
  top: 20%;
  display: flex;
  flex-direction: row;
  position: relative;
  font-size: 2rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #292b31;
  margin-left: 10%;
  
 
  
}
.name1{
  width: 25vw;
  display: inline;
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #292b31;
  
}

.perfil{
  position: relative;
  display: inline;
  top: 30%;
  font-size: 1.5rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #292b31;

}

p {
  margin-top: 3px;
  margin-bottom: 3px;
}

.title{
  text-align: center;
  padding: 10px;
  font-size: 1.8rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #292b31;
}

.dowload-cv-button{
  border-radius: 40px;
  width: 18%;
  height: 5vh;
  background-color:#d3b1a7;
  color: black;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size:max(50%, 15px);
  font-weight:500;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.botao{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre{
  padding-left: 160px;
  padding-right: 160px;
  text-align: justify;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-indent: 40px;
  line-height: 1.5em;
  color: #292b31;
}

.lista{
  padding-left: 160px;
  padding-right: 160px;
  text-indent: 20px;
  text-align: justify;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5em;
  color: #292b31;
}

.listat{
  text-indent: 40px;
  font-weight: bold;
}


.tec{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.tec-img{
  padding: 5px;
  margin-bottom: 5px;
}

.tec-img:hover{
  box-shadow: 0px 0px 10px gray;
  transform:translateY(10px);
  background-size: 120%;
  filter: opacity(100%);
}

.card {
  margin: auto;
  width: 300px;

}