<section class="apresentacao">
  <div>
    <img src="assets/minha_foto.jpg" alt="fotoPerfil" class="imagem">
  </div>
  <div class="ordem">

  
  <div class="name">
    <p>Olá, sou a &nbsp;<span class="name1">Anelise Barros! </span> </p> 
    
  </div>

  <div class="perfil">
    <p> Sou apaixonada por tecnologia, amante do Design UX e Web Front-End, sempre determinada em meus objetivos e sonhos. </p>
    <p> Estou a todo momento focada em aperfeiçoar meus conhecimentos buscando novos desafios na área. </p>
  </div>
</div>
</section>

<section>
  <h2 class="title">Sobre</h2>

  <p class="sobre">Atualmente estou cursando meu último mês da graduação em Sistemas de Informação pela Universidade Federal de Mato Grosso do Sul no Câmpus de Três Lagoas. Durante a meu curso realizei alguns projetos de extensão, pesquisa e ensino:
  </p>

  <dl class="lista">
    <dt class="listat"> Extensão </dt>
      <dd>Ministrante de Oficinas de Informática Básica I e II pelo projeto "Informática Aplicada e suas Tecnologias", no qual as oficinas são ministradas para adolescentes em situação de vulnerabilidade social;</dd>
      <dd>Mediadora e Membro da Comissão Organizadora do projeto "Semana de Desenvolvimento Profissional - Desafios no mercado de trabalho: perspectivas socioambientais no âmbito profissional";</dd>
      <dd>Monitora nas aulas de "Como utlizar smartphones" para idosos no projeto "UMI: HÁ UMA DÉCADA FAZENDO HISTÓRIA NA INCLUSÃO SOCIAL, EDUCACIONAL E TECNOLÓGICA AOS IDOSOS";</dd>
      <dd>Participante do projeto "VEM PRA UFMS" com a função apresentar o curso de Sistemas de Informação para alunos do ensino médio;</dd>
      <dd>Apoio Técnico Operacional do evento "FECUNDAR O CHÃO NO ENSINO SUPERIOR: OS 50 ANOS DO CÂMPUS DE TRÊS LAGOAS - AS CIÊNCIAS EXATAS E ENGENHARIAS";</dd>
      <dd>Apoio Técnico Operacional do XVII CIDH - Congresso Internacional de Direitos Humanos.</dd>
      <br>

    <dt class="listat">Pesquisa e Ensino</dt>
      <dd>Pesquisadora Voluntária no desenvolvimento do trabalho científico "RELAÇÕES ENTRE ESTILOS DE APRENDIZAGEM E COMPETÊNCIAS PROFISSIONAIS NO DESENVOLVIMENTO DE SOFTWARE";</dd>
      <dd>Autora do banner "Analisando a Ligação entre Estilos de Aprendizagem e Competências Profissionais no Desenvolvimento de Software" apresentado no evento INTEGRA UFMS 2023;</dd>
      <dd>Co-autora do banner "The Digital Inclusion of Adolescents through Applied Informatics and Tchnologies Workshops" apresentado na International Conference on Sustainable Development 2023;</dd>
      <dd>Co-autora do banner "OFICINAS DE INFORMÁTICA COM FOCO NO MERCADO DE TRABALHO: AS PRIMEIRAS IMPRESSÕES" apresentado no evento INTEGRA UFMS 2022;</dd>
      <dd>Autora do banner "Sistemas de Informação: uma carreira profissional para tod@s" apresentado nas escolas pelos projetos "VEM PRA UFMS" e "Programa sou mulher UFMS";</dd>
      <dd>Estagiária na trilha de "Testes E-Commerce/OCC" no Scholarship Program - Compass UOL;</dd>
      <dd>Monitora na disciplina de Introdução à Sistemas Digitais;</dd>
      <dd>Diretora acadêmica e Coordenadora de Representações dos Discentes do Centro Acadêmico de Sistemas de Informação - CASI Rayner Peppe;</dd>
      <dd>Participação como Aluna na trilha de "Introdução ao Design de Interação (UX/UI) realizada pelo Instituto de Pesquisas Eldorado em parceria com o TIC em Trilhas.</dd>
  </dl>


  <p class="sobre">Durante o curso executei inúmeros trabalhos de programação e prototipação em diferentes linguagens e ferramentas. </p>
</section>

<section>
  <h2 class="title">Meus Projetos</h2>
  <div class="cards">
    <div class="proj"> 
      <app-card imgProjeto='assets/ufms connect.png' tipoProjeto="celular" linkProjeto="https://www.figma.com/proto/sSSZgWMvmyMTLQgrsPdmMj/Prot%C3%B3tipo---Connect-UFMS-(Redesign)?node-id=2-2170&starting-point-node-id=2%3A2170&mode=design&t=0cuMnKHgiStkZUFr-1" projetoLabel="Protótipo para cadastro e verificação dos projetos de extensão da UFMS."></app-card>
      <app-card imgProjeto='assets/cinefun.png' tipoProjeto="celular" linkProjeto="https://www.figma.com/proto/qQ5mF5XulBQ4qrq4zWGovw/CineFun?type=design&t=7zdTZB1y7Nvsy8tf-1&scaling=scale-down&page-id=0%3A1&node-id=4-55&starting-point-node-id=4%3A55&mode=design" projetoLabel="Protótipo de rede social para críticas de filmes."></app-card>
      <app-card imgProjeto='assets/unixerox.png' tipoProjeto="celular" linkProjeto="https://www.figma.com/proto/QnuQdVNDXaI0tmQDvrPa1g/UniXerox?type=design&node-id=1-2&t=U59arEHASIOaAw6p-1&scaling=scale-down&page-id=0%3A1&mode=design" projetoLabel="Protótipo para agendamento e envio de material para impressão e xerox."></app-card>
    </div>
    <div class="proj">
      <app-card imgProjeto='assets/runmazing.png' tipoProjeto="pc" linkProjeto="https://github.com/Anelise-Barros/Trabalho-Web-Final"  projetoLabel="Rede social para encontrar pessoas próximas pela localização para realizar atividade física."></app-card>
    <app-card imgProjeto='assets/sismon.png' tipoProjeto="pc" linkProjeto="https://www.figma.com/proto/svb1q6T1wVRn26zg1d7Qzs/SISMON?type=design&node-id=1-6&t=VIDh9kl1xHABWd79-0&scaling=scale-down&page-id=0%3A1&starting-point-node-id=1%3A6&show-proto-sidebar=1" projetoLabel="Protótipo para controle de monitoria das disciplinas do curso de Sistemas de Informação da UFMS. "></app-card>
    </div>
    <div class="proj"> 
      <app-card imgProjeto='assets/ic.png' tipoProjeto="banner" linkProjeto="./assets/Relatório IC_ANELISE.pdf" projetoLabel="Relatório de Iniciação Científica 'A Importância dos Estilos de Aprendizagem no Ambiente de Ensino e Profissional: Um Estudo Exploratório'."></app-card>
      <app-card imgProjeto='assets/banner1.png' tipoProjeto="banner" linkProjeto="./assets/bannerICSD.pdf" projetoLabel="Banner apresentado no International Conference on Sustainable Development 2023."></app-card>
      <app-card imgProjeto='assets/banner2.png' tipoProjeto="banner" linkProjeto="./assets/bannerIntegra2023.pdf" projetoLabel="  &nbsp; Banner apresentado no INTEGRA UFMS 2023.  &nbsp;"></app-card>
      <app-card imgProjeto='assets/banner3.png' tipoProjeto="banner" linkProjeto="./assets/bannerIntegra2022.pdf" projetoLabel="  &nbsp; &nbsp; &nbsp; Banner apresentado no INTEGRA UFMS 2022. &nbsp;  &nbsp;  &nbsp;"></app-card>
      <app-card imgProjeto='assets/banner4.png' tipoProjeto="banner" linkProjeto="./assets/bannerVem.pdf" projetoLabel="Banner apresentado nas escolas pelos projetos VEM PRA UFMS e Prograam sou mulher UFMS."></app-card>
    </div>
    
  </div>
  
</section>



<section>
  <h2 class="title">Códigos e Currículos</h2>
  <div class="botao">
    <a href="https://github.com/Anelise-Barros"  class="dowload-cv-button">
      <p>GitHub</p>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt=""  width="20" height="20" >
    </a>
    <a href="./assets/CL_ANELISE NEVES DE BARROS.pdf" dowload  type="application/pdf" class="dowload-cv-button">
      <p>Currículo Lattes</p>
      <img src="./assets/baixar.svg" alt=""  width="20" height="20" >
    </a>
    <a href="./assets/CV_ANELISE NEVES DE BARROS.pdf" dowload  type="application/pdf" class="dowload-cv-button">
      <p>Currículo Vitae</p>
      <img src="./assets/baixar.svg" alt=""  width="20" height="20" >
    </a>
    
    
  </div>
  

</section>

<section>
  <h2 class="title">Tecnologias e Ferramentas</h2>

  <div class="tec">
    <div>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg" alt="Figma" width="68" height="68" class="tec-img"/>
      <img src="assets/justinmind.png" alt="justinmind" width="68" height="68" class="tec-img" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jira/jira-original-wordmark.svg" alt="Jira" width="68" height="68" class="tec-img"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/trello/trello-plain.svg" alt="trello" width="68" height="68" class="tec-img"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" alt="Angular" width="68" height="68" class="tec-img" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" alt="HTML" width="68" height="68" class="tec-img" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" alt="CSS" width="68" height="68" class="tec-img" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript" width="68" height="68" class="tec-img" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" alt="TypeScript" width="68" height="68" class="tec-img" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nestjs/nestjs-plain.svg" alt="nestjs" width="68" height="68" class="tec-img"/>
    </div>
    <div>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg" alt="nodejs" width="68" height="68" class="tec-img"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-original.svg" alt="sqlite" width="68" height="68" class="tec-img"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" alt="postgresql" width="68" height="68" class="tec-img"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-plain.svg" alt="C" width="68" height="68" class="tec-img" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original-wordmark.svg" alt="Java" width="68" height="68" class="tec-img" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="python" width="68" height="68" class="tec-img"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original-wordmark.svg" alt="Visual Studio Code" width="68" height="68" class="tec-img" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" alt="Linux" width="68" height="68" class="tec-img" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub" width="68" height="68" class="tec-img" />
    </div>
    
    
    </div>
</section>
