<section class="apresentacao">
  <div>
    <img src="assets/minha_foto.jpg" alt="fotoPerfil" class="imagem">
  </div>
  <div>
    <p class="name">Olá, sou a &nbsp;<span class="name1">Anelise Barros! </span> </p> 
    <p class="perfil">&nbsp; &nbsp; &nbsp; Sou apaixonada por tecnologia, amante do <br> Design UX e Web Front-End, sempre determinada <br> em meus objetivos e sonhos. <br>
      &nbsp; &nbsp; &nbsp; Estou a todo momento focada em aperfeiçoar <br> meus conhecimentos buscando novos desafios na <br> área.</p>
  </div>
</section>

<section>
  <h2 class="title">Sobre</h2>

  <p class="sobre">Atualmente estou cursando meu último mês da graduação em Sistemas de Informação pela Universidade Federal de Mato Grosso do Sul no Câmpus de Três Lagoas. Durante a meu curso realizei alguns projetos de extensão e ensino:
  </p>

  <dl class="lista">
    <dt> Extensão </dt>
      <dd> Ministrante de Oficinas de Informática Básica I e II pelo projeto "Informática Aplicada e suas Tecnologias" </dd>
      <dd> Mediadora e Membro da Comissão Organizadora do projeto "Semana de Desenvolvimento Profissional - Desafios no mercado de trabalho: perspectivas socioambientais no âmbito profissional" </dd>
      <dd> Monitora nas aulas de "Utilizar a tecnologia dos smartphones" do projeto "UMI: HÁ UMA DÉCADA FAZENDO HISTÓRIA NA INCLUSÃO SOCIAL, EDUCACIONAL E TECNOLÓGICA AOS IDOSOS"</dd>
      <dd> Participante do projeto "VEM PRA UFMS" com a função apresentar o curso de Sistemas de Informação para alunos do ensino médio </dd>
      <dd>Apoio Técnico Operacional do evento "FECUNDAR O CHÃO NO ENSINO SUPERIOR: OS 50 ANOS DO CÂMPUS DE TRÊS LAGOAS - AS CIÊNCIAS EXATAS E ENGENHARIAS"</dd>
      <dd> Apoio Técnico Operacional do XVII CIDH - Congresso Internacional de Direitos Humanos </dd>
  </dl>


  <p class="sobre">Nos últimos anos utilizei HTML, CSS, JavaScript para o desenvolvimento de páginas. Trabalhei também com os frameworks Angular e VueJS,
    além de também ter usado a linguagem Java para desenvolvimento de aplicações.
  </p>
  <a href="./assets/CV_Bárbara_Oliveira.pdf" dowload  type="application/pdf" class="dowload-cv-button">
    <p>Carregar CV</p>
    <img src="./assets/icons8-descarregar-da-nuvem.svg" alt="">
  </a>
</section>

<section>
  <h2 class="title">Meus Projetos</h2>

  <a href="https://github.com/OliveiraBarbara/Sistema_de_Despesa">
    <img src="" alt="">
  </a>

  <a href="">
    <img src="" alt="">
  </a>
</section>


<section>
  <h2 class="title">Tecnologias e Ferramentas</h2>

  <div class="tec">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" alt="Angular" width="68" height="68" class="tec-img" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" alt="HTML" width="68" height="68" class="tec-img" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" alt="CSS" width="68" height="68" class="tec-img" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript" width="68" height="68" class="tec-img" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" alt="TypeScript" width="68" height="68" class="tec-img" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-plain.svg" alt="C" width="68" height="68" class="tec-img" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original-wordmark.svg" alt="Java" width="68" height="68" class="tec-img" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original-wordmark.svg" alt=""Visual Studio Code width="68" height="68" class="tec-img" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" alt="Linux" width="68" height="68" class="tec-img" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub" width="68" height="68" class="tec-img" />
    </div>
</section>
